/* Anything between these two tags will be ignored by the browser */

h1 {
    color: orange ;
    font-style: italic;
    font-weight:normal;
}

h2 {
    color: orange ;
    font-style: italic;
    font-weight:normal;
}


h3 {
    color: orange ;
    font-style: italic;
    font-weight:normal;
}
/*

p {
    color: #ff3366;
    background-color: #00ff00;
}
*/

.imgbox {
    border: 10px solid black;
    padding: 20px;
background-color: yellow;
  
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #999999;
    background-image:url(temple.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.textcenter {
    text-align: center;
}

.textjustify {
    text-align: justify;
}

.specialh2{
    color: rgb(0, 0, 0);
}

.special {
    color: orange;
    background-color: #f7f7f7f9;
}

.redbg {
    background-color: rgb(220, 115, 115);
}

.spanstyle {
    color: blue;
}

a {
    color: #ff0000;
}


a:visited {
  color: #00ff2a;
}

a:hover {
  color: #fff700;
  text-decoration: underline;
}        